body {
}
#test{
 transition: 1s all;
  background-color: rgb(173, 173, 173);
  color: rgb(0, 0, 0);
  margin: 30px;
  padding: 100px;
  border: 10px solid rgb(0, 0, 0);
  border-radius: 100px;
  opacity:1;
  box-shadow:100px 100px 100px rgb(0, 0, 0);
  width: 50%;
  height: 300px;
  display: block;
  text-align: center;
  font-size: 250px;
  font-weight: 900;
}
#test:hover{
  opacity: 1;
  transform: rotate(-360deg);
}
