h1 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: overline;
}
h2 {
  color: blueviolet;
  text-decoration: line-through;
}
h3,h4,h5,h6 {
  color: orange;
}
li,ul,ol {
  color: blue;
}
i {
  color: brown;
}
strong, b {
  color: green;
}
tr,td {
  color: gray;
}
li {
  list-style-type: disc;
}
.special {
  color: orchid;
  font-weight: bold;
}
div {
  width: 143px;
  height: 15px;
  padding: 25px 15px;
  border: 5px solid hotpink;
  margin: 30px;
}
p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.3em;
  text-decoration: underline;

}
